 
   <!DOCTYPE html>
   <html>
     
     <head>
     <%- include('../partials/head.ejs') %>
     </head>
 
     <body>  

        <!---Navigation starts--->
      <div class="enclose">
        <%- include('../partials/navbar.ejs') %>  
 
 <!----Homebar start--> 
 <div class="homebar">
   <p class='big'>ABOUT US</p>
   <p class="small">Welcome to Voice of Hope Ministries International Church of God! We are a dynamic community dedicated to spreading love, faith, and hope. Our mission is to inspire and support each other in our spiritual journeys.</p>
    <div style='display:flex'> <a href='/'>Go Home</a>  <i class="fa fa-long-arrow-right"></i> </div>
 </div>  
 <!----Homebar end-->  
  </div> 
  <!---Navigation ends--->

  
        <div class="about">
             <p class="abthead">About Us</p>
             <div class="abtgrid">   

               
               <div>
                  <img src="/images/onowac.png" alt="aboutus">
               </div> 

                 <div>
                    <p class="welcm">Welcome to <b><i style='color:black'>Voice of Hope Ministries International Church of God</i></b>, where our mission is to inspire and uplift one another through faith, love, and service. Our community is built on the teachings of Christ, and we strive to embody His love and grace in all that we do. From worship services to community outreach, we are dedicated to fostering a welcoming and inclusive environment for everyone. Join us as we grow in faith and make a positive impact in the world around us. Together, we can make a difference.</p>
                  </div>   

                   
             </div>   

             <div>
               <p class="welcm">At Voice of Hope Ministries International Church of God, we believe in the transformative power of God's love and strive to be a beacon of hope in our community. Each week, we gather for worship, fellowship, and service, united by our commitment to making a positive impact in the lives of those around us. We offer a variety of programs and ministries designed to nurture spiritual growth, support families, and reach out to those in need. From vibrant worship services to community outreach initiatives, we aim to share the message of God's grace and love with everyone we encounter.</p>
             </div> 
  
             <div class='abtgridb'> 
             <div>
                <img src="/images/onowab.png" alt="aboutus">
             </div> <div>
                <img src="/images/onowaa.png" alt="aboutus">
             </div>  
             </div>   
             </div> 

        </div>
        <%- include('../partials/footer.ejs') %> 
     </body>
 
   </html>