  
  
  <!DOCTYPE html>
  <html>
    
    <head>
    <%- include('../partials/head.ejs') %>
    </head>

    <body>  

      <!---Navigation starts--->
      <div class="enclose">
       <%- include('../partials/navbar.ejs') %>  

<!----Homebar start--> 
<div class="homebar">
  <p class='big'>LOGIN PAGE</p>
  <p class="small">Fill in your account information to access your dashboard</p>
   <div style='display:flex'> <a href='/'>Go Home</a>  <i class="fa fa-long-arrow-right"></i> </div>
</div>  
<!----Homebar end-->  
 </div> 
 <!---Navigation ends--->

 
         <div class="loginf">   
         
            <form id="leggo">   
                    <i class="fa fa-user"></i> 
                    <p class="bigg"> Good to see you again </p>  
              <input id="logme" type="email" placeholder="Email" required>  
              <input id="logpass" type="password" placeholder="Password" required>
              <p id="errlogin"></p>
              <button id="mlog">Log In</button>
              <div class="forgotandcreate"> 
                <p style="cursor:pointer;" id="crea">Don't have an account?</p>
                <p style="cursor:pointer;"  id="forgotpass">Forgot password?</p> 
                </div> 
              </form> 

         </div>    
 
         
       <%- include('../partials/footer.ejs') %>  
       
          <script>   


var leggo = document.getElementById('leggo');
leggo.addEventListener('submit', async (p)=>{
     p.preventDefault();
                

                    let logme = document.getElementById('logme'); 
                    let logpass = document.getElementById('logpass');
                    let mlog = document.getElementById('mlog');
                    let loginerror = document.getElementById('errlogin');
                    mlog.innerHTML = 'Processing';
                    mlog.style.opacity = '0.855';

                    const logindata = {
                      regemail : logme.value,
                      regpass : logpass.value, 
                    } 
 
                    
                 try{
                    const response = await fetch('/logino', {
                        method : 'post',
                        body : JSON.stringify(logindata),
                        headers : {
                           'Content-Type' : 'application/json',
                            Accept : 'application/json',
                        },
                    });
                    
                    if(!response.ok){
                      mlog.innerHTML = 'Log In';
                        throw response;
                    }
                    mlog.style.opacity = '1';
                    const result = await response.json();
                    loginerror.innerHTML = 'success'; 
                    loginerror.style.color = 'grey';
                    loginerror.style.marginTop = '10px';
                    loginerror.style.fontSize = '16px';
                    loginerror.style.fontWeight = 'bold';
                    loginerror.style.fontFamily = 'helvetica'; 

                       
                    setTimeout( ()=> {
                      loginerror.innerHTML = 'waiting for redirect..'; 
                 }, 1000);

                    setTimeout( ()=> {
                   window.location.href = '/dashboard';  
                 }, 3000);

                }


                  catch(error){ 
                    const errresult = await error.text(); 
                    loginerror.innerHTML = errresult;
                    loginerror.style.color = 'red';
                    loginerror.style.marginTop = '10px';
                    loginerror.style.fontSize = '16px';
                    loginerror.style.fontWeight = 'bold';
                    loginerror.style.fontFamily = 'helvetica';
                  }  
                   
           });       

          var cre = document.getElementById('crea');
          cre.onclick = function() {
            window.location.href = '/signup';
          }   




          const fp = document.getElementById('forgotpass');
          fp.onclick = (event)=>{
             window.location.href='/reset-password'
          }

 
          </script>
    </body>
    </html>
          